.modal-updateRecords
    .modal-header
        h3.modal-title
            span(ng-if="!edit_mode") Добавить записи
            span(ng-if="edit_mode && records.selected.length == 1") Изменить запись
            span(ng-if="edit_mode && records.selected.length > 1") Переместить записи

    .modal-body
        table(style="margin: auto;", ng-if="records.selected.length <= 1")
            tr
                td.col-md-4
                    select.form-control(ng-model="newData.selectDay")
                        option(ng-repeat="day in days", value="{{ day }}") {{ day }}
                td.col-md-4
                    select.form-control(ng-model="newData.selectMonth")
                        option(ng-repeat="(index, month) in months", value="{{ index }}") {{ month }}
                td.col-md-4
                    select.form-control(ng-model="newData.selectYear")
                        option(ng-repeat="year in years", value="{{ year }}") {{ year }}
        .row
            h4 Категория
            .container-fluid.categories(ng-repeat="category in categories.items", ng-include="'modal-template-categories'")
        .row(ng-if="records.selected.length <= 1")
            h4 Сумма
            input.form-control(ng-model='newData.money', required='required', type='number', placeholder='Сумма')
        .row(ng-if="records.selected.length <= 1")
            h4 Комментарий
            textarea.form-control(ng-model='newData.description', placeholder='Комментарий...', rows="5")

    .modal-footer
        img.pull-right(src="/images/loading.gif", style="margin-right: 10px;", ng-show="loading")
        //.btn.btn-danger.pull-left(ng-click="false", ng-disabled="false", ng-show="!loading && countRecords == 1 && edit_mode") Удалить
        .btn.btn-primary(ng-click="moveRecords()",  ng-show="!loading", ng-if="edit_mode && records.selected.length > 1") Переместить
        .btn.btn-success(ng-click="updateRecord()", ng-show="!loading", ng-if="edit_mode && records.selected.length == 1") Изменить
        .btn.btn-success(ng-click="addRecord()", ng-show="!loading", ng-if="!edit_mode") Добавить
        .btn.btn-default(ng-click="close()", ng-show="!loading") Закрыть

script(type="text/ng-template", id="modal-template-categories")
    .container-fluid
        label.radio-inline
            input(type="radio", ng-model="newData.categoryId", value="{{ category.id }}")
            span {{ category.name }}
        .container-fluid
            .container-fluid.categories(ng-repeat="category in category.childs.items", ng-include="'modal-template-categories'")